appnope==0.1.2
asttokens==2.0.5
backcall==0.2.0
libopencv==4.5.0

matplotlibinline==0.1.2

numpy==1.22.2
opencv==4.5.0
openh264==2.1.1
openssl==1.1.1n
parso==0.8.3
pcre==8.45
pexpect==4.8.0
pickleshare==0.7.5
pip==21.2.4
pixman==0.38.0
prompttoolkit==3.0.20
ptyprocess==0.7.0
pure_eval==0.2.2
pyopencv==4.5.0
pygments==2.11.2
python==3.8.0
pythondateutil==2.8.2
python_abi==3.8
pyzmq==22.3.0
readline==7
setuptools==61.2.0
six==1.16.0
sqlite==3.33.0
stack_data==0.2.0
tk==8.6.11
tornado==6.1
traitlets==5.1.1
wcwidth==0.2.5
wheel==0.37.1
x264==1!161.3030
xz==5.2.5
zeromq==4.3.4
zlib==1.2.12
zstd==1.5.0
